<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="centered">
                <h1>
                    <%=product.title%>
                </h1>
                <hr>
                <div class="image">
                    <img src="/<%=product.imgUrl%>" alt="<%=product.title%>">
                </div>
                <hr>
                <h2>
                    <%=product.price%>₹
                </h2>
                <p>
                    <%=product.description%>
                </p>
                <% if(isAuthenticated) { %>
                    <form action="/cart" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <button class="btn" type="submit">Add to Cart</button>
                    </form>
                    <% } else{ %>
                        <strong>Hurry up you will miss the deal...!</strong>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>